.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  box-sizing: border-box;

  text-transform: uppercase;

  font-family: "Inconsolata", monospace;
  padding: 16px 40px;
  color: white;
  mix-blend-mode: difference;
  z-index: 99;
}

.container-left {
  float: left;
}

.container-left p {
  float: left;
  padding-right: 200px;
}

.container-right {
  box-sizing: border-box;
  float: right;
  display: block;
}

.container-right * {
  float: left;
}
