.info {
  background: #1e1e1e;
  width: 100%;
  display: table;
}

.container {
  background: #1e1e1e;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  display: table;
}

.logo {
  position: relative;
  margin-top: 80px;
  width: 116%;
  margin-left: -8%;
  aspect-ratio: 5 / 1;
}

.body {
  color: #fefefe;
  font-family: "title", serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 100;
  line-height: 100%;
  padding: 120px;
  text-align: center;
}

.body {
  color: #fefefe;
  font-family: "title", serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 100;
  line-height: 100%;
  padding: 120px;
  text-align: center;
}

.bottomContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.extraDescription {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 120px;

  color: #f5f5f5;
  font-family: "description", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.links {
  width: 40%;
  height: 100%;
  box-sizing: border-box;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  /* or 28px */

  text-transform: uppercase;
  color: rgb(245, 245, 245);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.linksBlock {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.linksBlock:last-child {
  margin-bottom: 0px;
}

.linksTitle {
  opacity: 0.2;
}

@media screen and (max-width: 1024px) {
  .bottomContainer {
    display: block;
    padding: 40px;
    box-sizing: border-box;
  }

  .extraDescription {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 50px;
  }

  .links {
    width: 100%;
  }
}
