.container {
  width: 100%;
  display: table;
  margin-bottom: 200px;
}

.container:last-child {
  margin-bottom: 0px;
}

.title {
  position: relative;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  /* background: rgba(255, 0, 0, 0.25); */
  padding: 0 40px;
  color: #1e1e1e;
  height: 60px;
  margin-bottom: 10px;
}

.title h2 {
  top: 0;
  position: absolute;
  margin-left: 20%;

  font-family: "title";
  font-style: normal;
  font-weight: 100;
  font-size: 56px;
  margin-top: -4px;
}

.title h3 {
  position: absolute;
  margin-left: 60%;

  text-transform: uppercase;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}

.title p {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}
